{% extends 'core/base.html' %}

{% block title %}Set New Password | HireSense{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-4 text-center text-primary">Set New Password</h4>

      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Set New Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
