{% extends 'core/base.html' %}

{% block title %}Password Reset Complete | HireSense{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-4 text-center text-success">Your Password Has Been Reset</h4>
      <p class="text-center">You can now log in with your new password.</p>
      <div class="text-center">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
